/* ==================== IMPORTS ==================== */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url(reset.css);

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* ==================== VARIABLES==================== */
:root {

}

/* ==================== ESTILO ==================== */
